.scrollbar-dark::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-dark::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar-dark::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	/* background-color: #D62929; */
}

.text-white{
    color: white;
}

#left-container{
	height: 38rem; 
	background-color: #FFFF;
}

.left-container-header{
	display: block;
	/* border: 2px solid red; */
}

.current-user-container{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.user-profile{
	display: flex;
	width: 100%;
}
/* Avatar */
.avatar {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 2px solid red;
	overflow: hidden;
  }
  
  .avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

.contact-avatar{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}

.contact-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
.user-details-container{
	display: flex;
}

/* Hamburger Icon */
.hamburger {
	width: 30px;
	height: 20px;
	display: block;
	justify-content: center;
	cursor: pointer;
  }
  
  .hamburger span {
	width: 100%;
	height: 3px;
	background-color: black;
	display: block;
	margin: 2px 0;
  }
  
  .hamburger:hover span {
	background-color: gray;
  }
  
  /* search convo */
  #search-convo{
	width: 100%; 
	background-color: #F2F2F2;
	border: 0 solid white;
	border-color: white;
	padding: 10px;
	font-style: italic;
  }
  #search-convo:focus{
	border: 0;
	border-color: #F2F2F2;
  }
  
.message-list-container{
	/* border: 2px solid red; */
	/* padding: 5px; */
	/* margin: 5px; */
}

.inbox-container{
	display: flex;
	margin: 5px;
	padding: 5px;
	/* border: 2px; */
	/* border: 2px solid red; */
}

.contact-message-details{
	margin-left: 5px;
	display: block;
	/* border: 2px solid black; */
}

